<div class="container-pokedex">
    <div class="header">
        <div class="header-titulo">
            <span class="titulo">Fase teste prático Front_end</span>
            <span class="subtitulo">pokebusca</span>
        </div>

        <div class="busca">
            <div class="input-group mb-3">
                <input type="text" ng-model="busca" class="form-control input-search" placeholder="Buscar" aria-label="Buscar" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary btn-input-search" type="button" id="button-addon2" ng-click="buscarPokemon()">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
            </div>
        </div>
    </div>

    <div class="content-pokemon">
        <hr>
        <span class="totais">Exibindo {{ limit }} de {{ pokemon.data.count }} itens</span>
        <div class="display-pokemon" ng-repeat="p in listaPokemon">
            <div class="img-pokemon">
                <img src= "{{ imagePokemon }}" alt="pokemon imagem" ng-if="!p.img">
                <img src= "{{ p.img }}" alt="pokemon imagem" ng-if="p.img">
            </div>
            <div class="subject">
                <div>
                    <span class="nome-pokemon">{{ p.name }}</span>
                </div>
                <div>
                    <span class="caracteristicas">Características do pokemon {{ p.name }} sit amet, consectetur adipiscing elit. In ultricies nunc at odio tempor tincidunt. Sed sit amet dolor velit. Donec convallis tellus ut porta molestie. Suspendisse condimentum et dui in aliquam.</span>
                </div>
            </div>
            
        </div>
    </div>
    <div class="paginete" ng-if="listaPokemon.length > 0">
        <div class="page-number">
            <span>{{ pageInit }} de {{ pageTotal }} paginas</span>
        </div>
        <div class="navigate">
            <button class="btn-navigate" ng-click="nav('fp')">
                <span class="material-symbols-outlined">
                    first_page
                </span>
            </button>
            <button class="btn-navigate" ng-click="nav('prev')">
                <span class="material-symbols-outlined">
                    chevron_left
                </span>
            </button>
            <button class="btn-navigate" ng-click="nav('next')">
                <span class="material-symbols-outlined">
                    chevron_right
                </span>
            </button>
            <button class="btn-navigate" ng-click="nav('lp')">
                <span class="material-symbols-outlined">
                    last_page
                </span>
            </button>
        </div>
    </div>
</div>